# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
|--------------------|
|Rstudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

# This a simple arithmetic expression to mutiply then add integers

In [8]:
x=3
y=4
z=x*y
a=z+5
print(a)

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
y=200/60
print(y)

3.3333333333333335

**Objective**
1. R
2. Python
3. SQL

In [ ]:
## Author : Shubhi Jain